.gameCanvas{
  background-color:black;
}

.scores{
  width:640px;
}

.plScore, .enScore{
  color:black;
  /* background-color:white; */
  display:inline-block;
}
.plScore{
  float:left;
}
.enScore{
  float:right;
}
